{{ define "header" }}
<div class="two-col">
	<div>
		<h1>A big, bold statement that spans multiple lines.</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Consectetur
			dolorem, veniam est eaque vel laborum voluptas quidem sint voluptatem
			temporibus aut! Aliquid, eos quaerat, repellendus impedit tempora eligendi
			possimus reprehenderit.
		</p>
		<a class="button" href="/contact/">Action</a>
	</div>
	<figure>
		<img src="/icons/db.svg" alt="" />
	</figure>
</div>
{{ end }} {{ define "main" }}
<main class="container stack">
	<section class="stack">
		<div class="heading-accent">
			<h2>Services we offer</h2>
			<p>Accent</p>
		</div>
		<div class="grid">
			<div class="feature">
				<figure>
					<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
				</figure>
				<div>
					<h3>Scientific beaker refills</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="feature">
				<figure>
					<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
				</figure>
				<div>
					<h3>Scientific beaker refills</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="feature">
				<figure>
					<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
				</figure>
				<div>
					<h3>Scientific beaker refills</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="feature">
				<figure>
					<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
				</figure>
				<div>
					<h3>Scientific beaker refills</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="two-col">
		<div>
			<h2>Section heading</h2>
			<p>
				Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Possimus
				tempora ipsum reprehenderit voluptatum debitis natus expedita magnam.
				Eligendi corporis facere est quasi, doloribus porro facilis consequatur
				vitae, rerum numquam dolor.
			</p>
		</div>
		<figure class="blue-frame">
			<img src="/icons/brackets.svg" alt="" />
		</figure>
	</section>
	<section class="cta stack">
		<h2>Call to Action</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
			explicabo. Adipisci incidunt ipsum, molestias. Suscipit sed rerum veniam
			at facere, autem vero incidunt blanditiis dolore exercitationem debitis ea
			quisquam rem!
		</p>
		<a href="/contact/" class="button">Action</a>
	</section>
</main>
{{ end }}