{{ define "header" }}
<div class="stack">
	<h1>A big, bold statement that spans multiple lines.</h1>
	<p>
		Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Consectetur
		dolorem, veniam est eaque vel laborum voluptas quidem sint voluptatem
		temporibus aut! Aliquid, eos quaerat, repellendus impedit tempora eligendi
		possimus reprehenderit.
	</p>
	<a class="button" href="">Action</a>
</div>
<figure></figure>
{{ end }} {{ define "main" }}
<main class="container">
	<section>
		<div class="heading-accent">
			<h2>Services we offer</h2>
			<p>Accent</p>
		</div>
		<div class="grid">
			<div class="stack">
				<img src="" alt="" />
				<h3>Scientific beaker refills</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse qui
					quaerat, maxime aspernatur eos tempore error laboriosam aliquam
					commodi hic nisi, officiis veritatis ipsa repellendus doloremque
					explicabo unde voluptate tenetur.
				</p>
			</div>
			<div class="stack">
				<img src="" alt="" />
				<h3>Scientific beaker refills</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse qui
					quaerat, maxime aspernatur eos tempore error laboriosam aliquam
					commodi hic nisi, officiis veritatis ipsa repellendus doloremque
					explicabo unde voluptate tenetur.
				</p>
			</div>
			<div class="stack">
				<img src="" alt="" />
				<h3>Scientific beaker refills</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse qui
					quaerat, maxime aspernatur eos tempore error laboriosam aliquam
					commodi hic nisi, officiis veritatis ipsa repellendus doloremque
					explicabo unde voluptate tenetur.
				</p>
			</div>
			<div class="stack">
				<img src="" alt="" />
				<h3>Scientific beaker refills</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse qui
					quaerat, maxime aspernatur eos tempore error laboriosam aliquam
					commodi hic nisi, officiis veritatis ipsa repellendus doloremque
					explicabo unde voluptate tenetur.
				</p>
			</div>
		</div>
	</section>
</main>
{{ end }}