/* Variables  */
:root {
	--color-1: hsl(222, 100%, 61%);
	--color-2: hsl(0, 0%, 13%);
	--color-3: hsl(222, 79%, 93%);
	--color-4: ;
	--thickness: 2px;
	--radius: 4px;
	--border: var(--thickness) solid var(--color-1);
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
	--step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
	--step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	--step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
	--step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
	--step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
	--step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
	--step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
	--space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
	--space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
	--space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	--space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
	--space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
	--space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
	--space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
	--space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
	--space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
	--space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
	--space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
	--space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
	--space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
	--space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
	--space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--grid-max-width: 77.5rem;
	--grid-gutter: var(
		--space-s-l,
		clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem)
	);
	--grid-columns: 12;
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Typography */

body {
	font-family: sans-serif;
	font-size: var(--step-0);
	color: var(--color-2);
}

h1 {
	font-size: var(--step-5);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

h4 {
	font-size: var(--step-2);
}

h5 {
	font-size: var(--step-1);
}

h6 {
	font-size: var(--step-0);
}

p {
	font-size: var(--step-0);
}

a {
	color: var(--color-1);
	text-decoration: underline;
}

/* Layout */
header {
	padding-block: var(--space-l);
	background-color: var(--color-3);
	color: var(--color-1);
}

header nav {
	border-block-end: var(--border);
	display: flex;
	flex-wrap: wrap;
	gap: var(--grid-gutter);
	justify-content: space-between;
	padding-block-end: var(--space-2xs);
}

header nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: var(--grid-gutter);
}

header nav ul li {
	display: inline-flex;
}

header nav a {
	text-underline-offset: 2px;
	text-decoration-thickness: var(--thickness);
}

.container {
	max-width: var(--grid-max-width);
	padding-inline: var(--grid-gutter);
	margin-inline: auto;
}

.grid {
	display: grid;
	gap: var(--grid-gutter);
}

@supports (width: min(calc(var(--grid-max-width) / 3), 100%)) {
	.grid {
		grid-template-columns: repeat(
			auto-fit,
			minmax(min(calc(var(--grid-max-width) / 3), 100%), 1fr)
		);
	}
}

.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack > * {
	margin-block: 0;
}

.stack > * + * {
	margin-block-start: var(--space, 1.5rem);
}

.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	--threshold: 30rem;
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((var(--threshold) - 100%) * 999);
}

.button {
	background-color: var(--color-1);
	color: var(--color-3);
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: var(--radius);
	display: inline-flex;
	padding: 10px 20px;
}