<div class="grid">
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>AI you can have confidence in</h3>
			<p>
				We'll vet your LLM-based task or service with granular, customized, and clear evaluations. We provide a framework for building and vetting your AI prototype, and give you the infrastructure to control it.
			</p>
		</div>
	</div>

	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>Open-source, on-prem, commercial-friendly</h3>
			<p>
				Enjoy full control over your experiment with our robust infrastructure. We can set you up with your own locally-hosted LLM
			</p>
		</div>
	</div>
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>AI is only as good as the data it uses</h3>
			<p>
				We know data: we're very acquainted with ETL pipelines, munging, and sleuthing for the perfect dataset. 
			</p>
		</div>
	</div>
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>Try before you buy</h3>
			<p>
				Get something built without massive expenditures. Talk to us before we move forward: we think LLMs are pretty great, but they might not make sense for what you're trying to do.
			</p>
		</div>
	</div>
</div>