<div class="grid">
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>Scientific beaker refills</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>Scientific beaker refills</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>Scientific beaker refills</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="feature">
		<figure>
			<img src="/icons/beaker.svg" alt="" width="128px" height="128px" />
		</figure>
		<div>
			<h3>Scientific beaker refills</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</div>